<ul class="sicpa-accordion">
    <li>
        <span>Donec ullam corper ?</span>
        <ul>
            <li>
                <a href="#"> Maecenas eget est turpis. Cras vel bibendum nibh, eget
                    suscipit felis.
                    Vestibulum turpis risus, feugiat sed aliquam et, molestie eu
                    ligula. Integer
                    dictum nisi gravida dolor facilisis volutpat. Pellentesque
                    accumsan tempor
                    mattis. Donec vel commodo tortor, ut ornare justo. Vestibulum
                    semper tempus
                    faucibus.
                </a>
            </li>
            <li>
                <a href="#"> Maecenas eget est turpis. Cras vel bibendum nibh, eget
                    suscipit felis.
                    Vestibulum turpis risus, feugiat sed aliquam et, molestie eu®
                    ligula. Integer
                    dictum nisi gravida dolor facilisis volutpat. Pellentesque
                    accumsan tempor
                    mattis. Donec vel commodo tortor, ut ornare justo. Vestibulum
                    semper tempus
                    faucibus.
                </a>
            </li>
        </ul>
    </li>
    <li>
        <span>Sit auctor fringilla ?</span>
        <ul>
            <li><a href="#">Hello</a></li>
        </ul>
    </li>
    <li>
        <span>Nulla non ?</span>
        <ul>
            <li><a href="#">Hello</a></li>
        </ul>
    </li>
</ul>  