<div class="alert sicpa-alert sicpa-alert--success" role="alert">
    <p>Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, consectetur
        adipiscing elit.
        Vivamus ac urna at sem finibus eleifend nec dictum mauris. Morbi a
        ullamcorper
        justo. Nullam rutrum lobortis libero, vitae commodo dui ornare quis. Integer
        erat
        diam, sollicitudin sit amet euismod in, interdum at purus.</p>
    <button type="button" class="close" data-dismiss="alert">×</button>
</div>

<div class="alert sicpa-alert sicpa-alert--info" role="alert">
    <p>Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, consectetur
        adipiscing elit.
        Vivamus ac urna at sem finibus eleifend nec dictum mauris. Morbi a
        ullamcorper
        justo. Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Vivamus ac urna at sem finibus eleifend nec dictum mauris.
        Morbi a
        ullamcorper justo. elit. Vivamus ac urna at sem finibus eleifend nec dictum
        mauris.
        Morbi a ullamcorper justo. Lorem ipsum dolor sit amet, Lorem ipsum dolor sit
        amet,
        consectetur adipiscing elit.
</div>

<div class="alert sicpa-alert sicpa-alert--warning" role="alert">
    <p>Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, consectetur
        adipiscing elit.
        Vivamus ac urna at sem finibus eleifend nec dictum mauris. Morbi a
        ullamcorper
        justo.</p>
    <button type="button" class="close" data-dismiss="alert">×</button>
</div>

<div class="alert sicpa-alert sicpa-alert--danger" role="alert">
    <p>Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, consectetur
        adipiscing elit.
        Vivamus ac urna at sem finibus eleifend nec dictum mauris. Morbi a
        ullamcorper
        justo. <span class="id">#746289</span>
    </p>
    <button type="button" class="close" data-dismiss="alert">×</button>
</div>