<p>
    <button type="button" class="btn sicpa-btn sicpa-btn--lg sicpa-btn--primary sicpa-btn-dropdown"><i class="fa fa-angle-down" aria-hidden="true"></i>
        <ul>
            <li><a href="#">Link1</a></li>
            <li><a href="#">Link2</a></li>
            <li><a href="#">Link3</a></li>
        </ul>
        Button
    </button>
    <button type="button" class="btn sicpa-btn sicpa-btn--primary sicpa-btn-dropdown"><i class="fa fa-angle-down" aria-hidden="true"></i>
        <ul>
            <li><a href="#">Link3</a></li>
            <li><a href="#">Link2</a></li>
            <li><a href="#">Link1</a></li>
        </ul>
        Button
    </button>
</p>