<div class="expander">
    <div class="expander-trigger"><span></span></div>
    <div class="expander-content expander-hidden">
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio
        mollitia fugiat facilis enim accusamus quisquam aut, repellendus incidunt quod
        optio facere labore illo numquam ipsum beatae vero debitis, fugit excepturi.
        </p>
    </div>
</div>