<footer class="sicpa-footer">
    <div class="top-border"></div>
    <div class="content">App name v 2.0<br>Quisque velit nisi, pretium ut lacinia in</div>
</footer>

<footer class="sicpa-footer">
    <div class="content">App name v 2.0<br>Quisque velit nisi, pretium ut lacinia in</div>
</footer>