<p>
    <ul class="sicpa-ul">
        <li>Inceptos</li>
        <li>Magna</li>
        <li>Malesuada</li>
        <li>Purus</li>
        <li>Bidendum</li>
    </ul>
</p>

<p>
    <ol class="sicpa-ol">
        <li>Inceptos</li>
        <li>Magna</li>
        <li>Malesuada</li>
        <li>Purus</li>
        <li>Bidendum</li>
    </ol>
</p>