<button data-toggle="modal"  type="button" class="btn sicpa-btn sicpa-btn--lg sicpa-btn--primary">Trigger modal</button>
<div class="modal fade sicpa-modal fade" id="modal11" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content sicpa-modal-content">
            <div class="modal-header sicpa-modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body sicpa-modal-body">
                 Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                 Donec sollicitudin molestie malesuada. Donec rutrum congue leo eget malesuada.
            </div>
            <div class="modal-footer sicpa-modal-footer">
                <button type="button" class="btn btn-default sicpa-btn   sicpa-btn--lg sicpa-btn--secondary">Button</button>
                <button type="button" class="btn sicpa-btn sicpa-btn--lg sicpa-btn--primary">Button</button>
            </div>
        </div>
    </div>
</div>