<ul class="pagination sicpa-pagination">
    <li class="previous"><a href="#" aria-label="previous"></a></li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li class="next"><a href="#" aria-label="next"></a></li>
</ul>