<button type="button" class="btn btn-success sicpa-btn--circle sicpa-btn--circle--success" data-toggle="popover" data-content="Donec id elit non mi."></button>
<br>
<button type="button" class="btn btn-info sicpa-btn--circle sicpa-btn--circle--info" data-toggle="popover" data-content="Beware of the dog!"></button>
<br>
<button type="button" class="btn btn-warning sicpa-btn--circle sicpa-btn--circle--warning" data-toggle="popover" data-content="Cave Canem"></button>
<br>
<button type="button" class="btn btn-danger sicpa-btn--circle sicpa-btn--circle--danger" data-toggle="popover" data-content="Beware of the dog!"></button>