<div class="container">
    <ul class="steps">
        <li class="default"><span></span></li>
        <li class="default">
            <span></span>
        </li>
        <li class="default">
            <span></span>
        </li>
        <li class="default">
            <span></span>
        </li>
        <li class="default">
            <span></span>
        </li>
        <li class="default">
            <span></span>
        </li>
    </ul>
</div>
<br><br>
<div class="container">
    <ul class="steps">
        <li class="active">
            <span></span>
        </li>
        <li class="default">
            <span></span>
        </li>
        <li class="default">
            <span></span>
        </li>
        <li class="default">
            <span></span>
        </li>
        <li class="default">
            <span></span>
        </li>
    </ul>
</div>
<br><br>
<div class="container">
    <ul class="steps">
        <li class="done done--locked">
            <span></span>
        </li>
        <li class="done">
            <span></span>
        </li>
        <li class="active">
            <span></span>
        </li>
        <li class="default">
            <span></span>
        </li>
    </ul>
</div>
<br><br>
<div class="container">
    <ul class="steps">
        <li class="done done--locked">
            <span></span>
        </li>
        <li class="done done--info">
            <span data-info="Moon"></span>
        </li>
        <li class="active">
            <span></span>
        </li>
    </ul>
</div>
<br><br>
<div class="container">
    <ul class="steps">
        <li class="done done--locked">
            <span></span>
        </li>
        <li class="done done--info">
            <span data-info="Moon"></span>
        </li>
        <li class="active  active--info">
            <span data-info="Over&nbsp;the Moon"></span>
        </li>
        <li class="active active--info error error--info">
            <span data-info="Not&nbsp;so much&nbsp;so"></span>
        </li>
        <li class="default">
            <span></span>
        </li>
    </ul>
</div>
<br><br>
<div class="container">
    <ul class="steps">
        <li class="done">
            <span></span>
        </li>
        <li class="done error">
            <span></span>
        </li>
        <li class="active">
            <span></span>
        </li>
    </ul>
</div>
<br><br>
<div class="container">
    <ul class="steps">
        <li class="done done--info">
            <span data-info="Ooops!"></span>
        </li>
        <li class="active active--info">
            <span data-info="I&nbsp;did&nbsp;it... ...&nbsp;again and ... again"></span>
        </li>
        <li class="default default--info">
            <span data-info="...&nbsp;and again!"></span>
        </li>
    </ul>
</div>