<ul class="nav nav-tabs sicpa-tabs">
    <li class="sicpa-tabs--item active" role="presentation"><a href="#view1">View1</a></li>
    <li class="sicpa-tabs--item" role="presentation"><a href="#view2">View2</a></li>
    <li class="sicpa-tabs--item" role="presentation"><a href="#view3">View3</a></li>
</ul>
<div class="tab-content sicpa-tab-content">
    <div class="tab-pane fade in active" role="tabpanel" id="view1" aria-labelledby="profile-tab">
        <p>
            Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
            Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan
            four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim
            craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic,
            assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna
            velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit,
            sustainable jeanshorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
            stumptown,tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
        </p>
    </div>
    <div class="tab-pane fade" role="tabpanel" id="view2" aria-labelledby="profile-tab">
        <p>
            DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr
            butcher vero sint qui sapiente accusamus tattooed echo park.
        </p>
    </div>
    <div class="tab-pane fade" role="tabpanel" id="view3" aria-labelledby="profile-tab">
        <p>
            hk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda
            labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit
            sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
            shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
            stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
        </p>
    </div>
</div>