<div class="well sicpa-well">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit fringilla eros non consectetur. In in mattis turpis.
    Suspendisse <strong>fringilla</strong> sapien, at dictum risus. Curabitur hendrerit fringilla eros non consectetur.
</div>