<!-- components/organisms/header.html -->
<!-- components/organisms/menu-navigation.html -->
<div class="container-fluid " style="height:800px">


    <nav class="navbar navbar-default sicpa-navbar-left">


        <div class="sicpa-navbar-left-content expanded">
            <div class="logo-container">
                <i class="fa fa-cloud-upload"></i>
            </div>
            <div class="connected-user-container">

                <div class="username">John Doe </div>
                <div class="userjob">External</div>
                <button class="loggout"></button>
            </div>

            <ul class="sicpa-accordion sicpa-accordion--menu">
                <li>
                    <span>Donec ullam corper ?</span>
                    <ul>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Messages</a></li>
                    </ul>
                </li>
                <li>
                    <span>Item 2</span>
                    <ul>
                        <li class="category">CATEGORY A</li>
                        <li><a href="#">Item 2.1</a></li>
                        <li>
                            <span>Donec ullam corper ?</span>
                            <ul>
                                <li><a href="#">Profile</a></li>
                                <li>
                                    <span>Donec ullam corper ?</span>
                                    <ul>
                                        <li><a href="#">Profile</a></li>
                                        <li><a href="#">Messages</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <span>Item 3</span>
                    <ul>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Messages</a></li>
                    </ul>
                </li>
            </ul>

        </div>



        <div class="sicpa-navbar-left-content">
            <button class="sicpa-button-burger">
                <i class="bar"></i>
                <i class="bar"></i>
                <i class="bar"></i>
            </button>
            <div class="connected-user-container">

                <div class="connected-user">
                    <img class="avatar" src="http://www.freelanceme.net/Images/default%20profile%20picture.png">
                </div>
            </div>
            <button class="sicpa-button-settings"></button>
            <button class="sicpa-button-help"></button>
        </div>


    </nav>


    <content class="sicpa-content ">

        <nav class="navbar navbar-default sicpa-navbar">
            <div class="container-fluid ">
                <div class="sicpa-container">
                    <ol class="breadcrumb sicpa-breadcrumb">
                        <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                        <li><a href="#">Level 1</a></li>
                        <li class="active">Level 2</li>
                    </ol>
                    <form class="sicpa-form" autocomplete="off" role="search">
                        <div class="input-group sicpa-input-group">
                            <input class="form-control sicpa-form-control" placeholder="Search" name="search-term" id="search-term" type="text">
                            <div class="input-group-btn sicpa-input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
        <div class="container-fluid ">
            Content
        </div>
    </content>

</div>