<!-- components/organisms/menu-help.html -->
<!-- components/organisms/menu-navigation.html -->
<div class="container-fluid " style="min-height:700px;">


    <nav class="navbar navbar-default sicpa-navbar-left opened">


        <div class="sicpa-navbar-left-content expanded">
            <div class="logo-container">
                <i class="fa fa-cloud-upload"></i>
            </div>
            <div class="connected-user-container">

                <div class="username">John Doe </div>
                <div class="userjob">External</div>
                <button class="loggout"></button>
            </div>

            <ul class="sicpa-accordion sicpa-accordion--menu">
                <li>
                    <span>Donec ullam corper ?</span>
                    <ul>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Messages</a></li>
                    </ul>
                </li>
                <li>
                    <span>Item 2</span>
                    <ul>
                        <li class="category">CATEGORY A</li>
                        <li><a href="#">Item 2.1</a></li>
                        <li>
                            <span>Donec ullam corper ?</span>
                            <ul>
                                <li><a href="#">Profile</a></li>
                                <li>
                                    <span>Donec ullam corper ?</span>
                                    <ul>
                                        <li><a href="#">Profile</a></li>
                                        <li><a href="#">Messages</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <span>Item 3</span>
                    <ul>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Messages</a></li>
                    </ul>
                </li>
            </ul>

        </div>



        <div class="sicpa-navbar-left-content">
            <button class="sicpa-button-burger">
                <i class="bar"></i>
                <i class="bar"></i>
                <i class="bar"></i>
            </button>
            <div class="connected-user-container">

                <div class="connected-user">
                    <img class="avatar" src="http://www.freelanceme.net/Images/default%20profile%20picture.png">
                </div>
            </div>
            <button class="sicpa-button-settings"></button>
            <button class="sicpa-button-help"></button>
        </div>


        <div class="sicpa-navbar-left-content help expanded2">

            <ul class="sicpa-accordion">
                <li>
                    <span>Donec ullam corper ?</span>
                    <ul>
                        <li>
                            <a href="#"> Maecenas eget est turpis. Cras vel bibendum nibh, eget
                                suscipit felis.
                                Vestibulum turpis risus, feugiat sed aliquam et, molestie eu

                            </a>
                        </li>
                        <li>
                            <a href="#"> Maecenas eget est turpis. Cras vel bibendum nibh, eget
                                suscipit felis.
                                Vestibulum turpis risus, feugiat sed aliquam et, molestie eu®

                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span>Sit auctor fringilla ?</span>
                    <ul>
                        <li><a href="#">Hello</a></li>
                    </ul>
                </li>
                <li>
                    <span>Nulla non ?</span>
                    <ul>
                        <li><a href="#">Hello</a></li>
                    </ul>
                </li>
            </ul>


        </div>


    </nav>


    <content class="sicpa-content sicpa-content-side-menu-opened">

        <nav class="navbar navbar-default sicpa-navbar">
            <div class="container-fluid ">
                <div class="sicpa-container">
                    Navbar
                </div>
            </div>
        </nav>
        <div class="container-fluid ">
            Hello content
        </div>
    </content>

</div>