<!-- components/organisms/search-form.html -->
<div class="container">
    <div class="row">

        <div class="container">
            <form class="sicpa-form">

                <h1>Advanced Search</h1>
                <div class="form-group sicpa-form-group">
                    <input type="text" class="form-control sicpa-form-control" required>
                    <label>Name</label>
                </div>

                <div class="form-group sicpa-form-group">
                    <label>Name</label>
                    <select class="form-control sicpa-select" multiple="multiple">
                        <option disabled selected value></option>
                        <option value="4">Thomas Edison</option>
                        <option value="1">Nikola</option>
                        <option value="3">Nikola Tesla</option>
                        <option value="5">Arnold Schwarzenegger</option>
                    </select>
                </div>
                <div class="form-group sicpa-form-group">
                    <label>Name</label>

                </div>
                <ul>
                    <li>
                        <input type="radio" name="radio" id="r1">
                        <label for="r1"><span></span>Sollicitudin Adpiscit</label>
                    </li>
                    <li>
                        <input type="radio" name="radio" id="r2">
                        <label for="r2"><span></span>Nullam</label>
                    </li>
                </ul>
                <div class="sicpa-submit-buttons-container">
                    <button type="button" class="btn sicpa-btn sicpa-btn--primary" data-original-title="" title="">Cancel</button>
                    <button type="button" class="btn btn-default  sicpa-btn sicpa-btn--secondary" data-original-title="" title="">Validate</button>
                </div>
            </form>
        </div>

    </div>
</div>