<table class="table sicpa-table sicpa-table-striped-with-collapse">
        <thead>
        <tr>
            <td> <input type="checkbox" id="c0">
                <label class="col-has-more-button" for="c0"><span></span></label>
            </td>
            <th>Status</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Time</th>
            <th><i class="fa fa-trash fa--default " aria-hidden="true" data-toggle="confirmation"
                   data-btn-ok-label="Cancel"
                   data-btn-ok-class="btn btn-default  sicpa-btn sicpa-btn--secondary"
                   data-btn-cancel-label="Delete"
                   data-btn-cancel-class="btn btn-default  sicpa-btn sicpa-btn--primary"></i></th>
        </tr>
        </thead>
        <tbody>
        <tr class="sicpa-table-row">
            <td>
                <a data-toggle="collapse" href="#row1" class="fa fa-minus button-more collapsed fa--default" ></a>
                <input type="checkbox" id="c1">
                <label for="c1"><span></span></label>
            </td>
            <td><i class="fa fa-exclamation-triangle fa--warning " aria-hidden="true"></i></td>
            <td class="col-md-3"><span>Doe has a very long long long long long name !</span></td>
            <td>john@example.com</td>
            <td>15 sept 8.24 am <span class="fa--default">(2013)</span></td>
            <td class="actions">
                <i class="fa fa-pencil fa--default" aria-hidden="true"></i>
                <i class="fa fa-trash fa--default " aria-hidden="true"></i>
                <button type="button" class="btn btn-default  sicpa-btn sicpa-btn--secondary sicpa-btn-dropdown" data-original-title="" title="">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                    <ul class="right">
                        <li><a href="#">Link1</a></li>
                        <li><a href="#">Link2</a></li>
                        <li><a href="#">Link3</a></li>
                    </ul>
                    Button</button>
                </button>
            </td>
        </tr>
        <tr class="collapse sicpa-table-row content" id="row1" >
            <td colspan="6">
                <div class="col-md-2">
                    <span>Column 5</span>
                    <img src="http://images.freeimages.com/images/previews/2b3/autum-leafs-1360915.jpg">
                </div>
                <div class="col-md-4">
                    <span>Column 6</span>
                    <p>Curabitur aliquet quam id dui posuere blandit. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Cras ultricies ligula sed magna dictum porta. Vivamus magna justo, l</p>
                </div>
                <div class="col-md-5">
                    <span>Column 7</span>
                    <p>Curabitur aliquet quam id dui posuere blandit. Mauris blandit aliquet elit, eget tincidunt nib</p>
                </div>
            </td>
        </tr>
        <tr class="sicpa-table-row">
            <td>
                <a data-toggle="collapse" href="#row2" class="fa fa-minus button-more collapsed fa--default" ></a>
                <input type="checkbox" id="c4">
                <label for="c4"><span></span></label>
            </td>
            <td><i class="fa fa-check fa--success" aria-hidden="true"></i></td>
            <td class="">Doe</td>
            <td>john@example.com</td>
            <td>15 sept 8.24 am <span class="fa--default">(2013)</span></td>
            <td class="actions">
                <i class="fa fa-pencil fa--default" aria-hidden="true"></i>
                <i class="fa fa-trash fa--default " aria-hidden="true"></i>
            </td>
        </tr>
        <tr class="collapse sicpa-table-row content" id="row2" >
            <td colspan="6">
                <div class="col-md-2">
                    <span>Column 5</span>
                    <img src="http://images.freeimages.com/images/previews/2b3/autum-leafs-1360915.jpg">
                </div>
                <div class="col-md-4">
                    <span>Column 6</span>
                    <p>Curabitur aliquet quam id dui posuere blandit. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Cras ultricies ligula sed magna dictum porta. Vivamus magna justo, l</p>
                </div>
                <div class="col-md-5">
                    <span>Column 7</span>
                    <p>Curabitur aliquet quam id dui posuere blandit. Mauris blandit aliquet elit, eget tincidunt nib</p>
                </div>
            </td>
        </tr>
        <tr class="sicpa-table-row">
            <td>
                <a data-toggle="collapse" href="#row3" class="fa fa-minus button-more collapsed fa--default" ></a>
                <input type="checkbox" id="c2">
                <label for="c2"><span></span></label>
            </td>
            <td><i class="fa fa-check fa--success" aria-hidden="true"></i></td>
            <td class="">Doe</td>
            <td>mary@example.com</td>
            <td>15 sept 8.24 am <span class="fa--default">(2013)</span></td>
            <td class="actions">
                <i class="fa fa-pencil fa--default" aria-hidden="true"></i>
                <i class="fa fa-trash fa--default " aria-hidden="true"></i>
            </td>
        </tr>
        <tr class="collapse sicpa-table-row content" id="row3" >
            <td colspan="6">
                <div class="col-md-2">
                    <span>Column 5</span>
                    <img src="http://images.freeimages.com/images/previews/2b3/autum-leafs-1360915.jpg">
                </div>
                <div class="col-md-4">
                    <span>Column 6</span>
                    <p>Curabitur aliquet quam id dui posuere blandit. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Cras ultricies ligula sed magna dictum porta. Vivamus magna justo, l</p>
                </div>
                <div class="col-md-5">
                    <span>Column 7</span>
                    <p>Curabitur aliquet quam id dui posuere blandit. Mauris blandit aliquet elit, eget tincidunt nib</p>
                </div>
            </td>
        </tr>
        <tr class="sicpa-table-row">
            <td>
                <a data-toggle="collapse" href="#row4" class="fa fa-minus button-more collapsed fa--default" ></a>
                <input type="checkbox" id="c3">
                <label for="c3"><span></span></label>
            </td>
            <td><i class="fa fa-check fa--success" aria-hidden="true"></i></td>
            <td class="">Doe</td>
            <td>july@example.com</td>
            <td>15 sept 8.24 am <span class="fa--default">(2013)</span></td>
            <td class="actions">
                <i class="fa fa-pencil fa--default" aria-hidden="true"></i>
                <i class="fa fa-trash fa--default " aria-hidden="true"></i>
            </td>
        </tr>
        <tr class="collapse sicpa-table-row content" id="row4" >
            <td colspan="6">
                <div class="col-md-2">
                    <span>Column 5</span>
                    <img src="http://images.freeimages.com/images/previews/2b3/autum-leafs-1360915.jpg">
                </div>
                <div class="col-md-4">
                    <span>Column 6</span>
                    <p>Curabitur aliquet quam id dui posuere blandit. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Cras ultricies ligula sed magna dictum porta. Vivamus magna justo, l</p>
                </div>
                <div class="col-md-5">
                    <span>Column 7</span>
                    <p>Curabitur aliquet quam id dui posuere blandit. Mauris blandit aliquet elit, eget tincidunt nib</p>
                </div>
            </td>
        </tr>
        <tr class="sicpa-table-row">
            <td>
                <a data-toggle="collapse" href="#row5" class="fa fa-minus button-more collapsed fa--default" ></a>
                <input type="checkbox" id="c3">
                <label for="c3"><span></span></label>
            </td>
            <td><i class="fa fa-check fa--success" aria-hidden="true"></i></td>
            <td class="">Doe</td>
            <td>july@example.com</td>
            <td>15 sept 8.24 am <span class="fa--default">(2013)</span></td>
            <td class="actions">
                <i class="fa fa-pencil fa--default" aria-hidden="true"></i>
                <i class="fa fa-trash fa--default " aria-hidden="true"></i>
            </td>
        </tr>
        <tr class="collapse sicpa-table-row content" id="row5" >
            <td colspan="6">
                <div class="col-md-2">
                    <span>Column 5</span>
                    <img src="http://images.freeimages.com/images/previews/2b3/autum-leafs-1360915.jpg">
                </div>
                <div class="col-md-4">
                    <span>Column 6</span>
                    <p>Curabitur aliquet quam id dui posuere blandit. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Cras ultricies ligula sed magna dictum porta. Vivamus magna justo, l</p>
                </div>
                <div class="col-md-5">
                    <span>Column 7</span>
                    <p>Curabitur aliquet quam id dui posuere blandit. Mauris blandit aliquet elit, eget tincidunt nib</p>
                </div>
            </td>
        </tr>
        <tr class="sicpa-table-row">
            <td>
                <a data-toggle="collapse" href="#row6" class="fa fa-minus button-more collapsed fa--default" ></a>
                <input type="checkbox" id="c3">
                <label for="c3"><span></span></label>
            </td>
            <td><i class="fa fa-check fa--success" aria-hidden="true"></i></td>
            <td class="">Doe</td>
            <td>july@example.com</td>
            <td>15 sept 8.24 am <span class="fa--default">(2013)</span></td>
            <td class="actions">
                <i class="fa fa-pencil fa--default" aria-hidden="true"></i>
                <i class="fa fa-trash fa--default " aria-hidden="true"></i>
            </td>
        </tr>
        <tr class="collapse sicpa-table-row content" id="row6" >
            <td colspan="6">
                <div class="col-md-2">
                    <span>Column 5</span>
                    <img src="http://images.freeimages.com/images/previews/2b3/autum-leafs-1360915.jpg">
                </div>
                <div class="col-md-4">
                    <span>Column 6</span>
                    <p>Curabitur aliquet quam id dui posuere blandit. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Cras ultricies ligula sed magna dictum porta. Vivamus magna justo, l</p>
                </div>
                <div class="col-md-5">
                    <span>Column 7</span>
                    <p>Curabitur aliquet quam id dui posuere blandit. Mauris blandit aliquet elit, eget tincidunt nib</p>
                </div>
            </td>
        </tr>
        <tr class="sicpa-table-row">
            <td>
                <a data-toggle="collapse" href="#row7" class="fa fa-minus button-more collapsed fa--default" ></a>
                <input type="checkbox" id="c3">
                <label for="c3"><span></span></label>
            </td>
            <td><i class="fa fa-check fa--success" aria-hidden="true"></i></td>
            <td class="">Doe</td>
            <td>july@example.com</td>
            <td>15 sept 8.24 am <span class="fa--default">(2013)</span></td>
            <td class="actions">
                <i class="fa fa-pencil fa--default" aria-hidden="true"></i>
                <i class="fa fa-trash fa--default " aria-hidden="true"></i>
            </td>
        </tr>
        <tr class="collapse sicpa-table-row content" id="row7" >
            <td colspan="6">
                <div class="col-md-2">
                    <span>Column 5</span>
                    <img src="http://images.freeimages.com/images/previews/2b3/autum-leafs-1360915.jpg">
                </div>
                <div class="col-md-4">
                    <span>Column 6</span>
                    <p>Curabitur aliquet quam id dui posuere blandit. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Cras ultricies ligula sed magna dictum porta. Vivamus magna justo, l</p>
                </div>
                <div class="col-md-5">
                    <span>Column 7</span>
                    <p>Curabitur aliquet quam id dui posuere blandit. Mauris blandit aliquet elit, eget tincidunt nib</p>
                </div>
            </td>
        </tr>
        <tr class="sicpa-table-row">
            <td>
                <a data-toggle="collapse" href="#row8" class="fa fa-minus button-more collapsed fa--default" ></a>
                <input type="checkbox" id="c3">
                <label for="c3"><span></span></label>
            </td>
            <td><i class="fa fa-check fa--success" aria-hidden="true"></i></td>
            <td class="">Doe</td>
            <td>july@example.com</td>
            <td>15 sept 8.24 am <span class="fa--default">(2013)</span></td>
            <td class="actions">
                <i class="fa fa-pencil fa--default" aria-hidden="true"></i>
                <i class="fa fa-trash fa--default " aria-hidden="true"></i>
            </td>
        </tr>
        <tr class="collapse sicpa-table-row content" id="row8" >
            <td colspan="6">
                <div class="col-md-2">
                    <span>Column 5</span>
                    <img src="http://images.freeimages.com/images/previews/2b3/autum-leafs-1360915.jpg">
                </div>
                <div class="col-md-4">
                    <span>Column 6</span>
                    <p>Curabitur aliquet quam id dui posuere blandit. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Cras ultricies ligula sed magna dictum porta. Vivamus magna justo, l</p>
                </div>
                <div class="col-md-5">
                    <span>Column 7</span>
                    <p>Curabitur aliquet quam id dui posuere blandit. Mauris blandit aliquet elit, eget tincidunt nib</p>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="table sicpa-table sicpa-table-striped">
        <thead>
        <tr>
            <td> <input type="checkbox" id="c0">
                <label for="c0"><span></span></label>
            </td>
            <th>Status</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Time</th>
            <th><i class="fa fa-trash fa--default " aria-hidden="true" data-toggle="confirmation"
                   data-btn-ok-label="Cancel"
                   data-btn-ok-class="btn btn-default  sicpa-btn sicpa-btn--secondary"
                   data-btn-cancel-label="Delete"
                   data-btn-cancel-class="btn btn-default  sicpa-btn sicpa-btn--primary"></i></th>
        </tr>
        </thead>
        <tbody>
        <tr class="sicpa-table-row">

            <td colspan="6">
                <form class="sicpa-form sicpa-table-form">
                    <div class="row"> <div class="form-group sicpa-form-group left col-md-3">
                        <input type="text" class="form-control sicpa-form-control" required>
                        <label>Name</label>
                    </div>
                        <div class="form-group sicpa-form-group right col-md-3">
                            <label>Name</label>
                            <select class="form-control sicpa-select">
                                <option disabled selected value></option>
                                <option value="4">Thomas Edison</option>
                                <option value="1">Nikola</option>
                                <option value="3">Nikola Tesla</option>
                                <option value="5">Arnold Schwarzenegger</option>
                            </select>
                        </div>
                        <div class="col-md-2">Col with radio<br>
                            <ul >
                                <li>
                                    <input type="radio" name="radio" id="r1">
                                    <label for="r1"><span></span>Sollicitudin Adpiscit</label>
                                </li>
                                <li>
                                    <input type="radio" name="radio" id="r2">
                                    <label for="r2"><span></span>Nullam</label>
                                </li>
                                <li>
                                    <input type="radio" name="radio" id="r3">
                                    <label for="r3"><span></span>Nullam</label>
                                </li>
                            </ul>
                        </div>
                        <div class="form-group sicpa-form-group col-md-4">
                            <div class="flex--input">
                                <input type="text" id="datepicker" class="form-control sicpa-form-control" required="" data-input-status="warning">
                                <span class="bar"></span>
                                <span class="status-icon"></span>
                                <label>Datepicker</label>
                            </div>
                            <div class="flex--info">
                                <button type="button" id="datepicker-trigger" class="btn btn-default sicpa-btn sicpa-btn--secondary" data-original-title="" title=""><i class="fa fa-calendar" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div></div>
                    <div class="row"></div>
                    <div class="sicpa-submit-buttons-container">
                        <button type="button" class="btn sicpa-btn sicpa-btn--primary" data-original-title="" title="">Cancel</button>
                        <button type="button" class="btn btn-default  sicpa-btn sicpa-btn--secondary" data-original-title="" title="">Validate</button>
                    </div>
                </form>
            </td>

        </tr>
        <tr class="sicpa-table-row">
            <td>
                <input type="checkbox" id="c4">
                <label for="c4"><span></span></label>
            </td>
            <td><i class="fa fa-check fa--success" aria-hidden="true"></i></td>
            <td>Doe</td>
            <td>john@example.com</td>
            <td>15 sept 8.24 am <span class="fa--default">(2013)</span></td>
            <td class="actions">
                <i class="fa fa-pencil fa--default" aria-hidden="true"></i>
                <i class="fa fa-trash fa--default " aria-hidden="true"></i>
            </td>
        </tr>
        <tr class="sicpa-table-row">
            <td>
                <input type="checkbox" id="c2">
                <label for="c2"><span></span></label>
            </td>
            <td><i class="fa fa-check fa--default" aria-hidden="true"></i></td>
            <td>Moe</td>
            <td>mary@example.com</td>
            <td>15 sept 8.24 am <span class="fa--default">(2013)</span></td>
            <td class="actions">
                <i class="fa fa-pencil fa--default" aria-hidden="true"></i>
                <i class="fa fa-trash fa--default " aria-hidden="true"></i>
            </td>
        </tr>
        <tr class="sicpa-table-row">
            <td>
                <input type="checkbox" id="c3">
                <label for="c3"><span></span></label>
            </td>
            <td><i class="fa fa-check fa--success" aria-hidden="true"></i></td>
            <td>Dooley</td>
            <td>july@example.com</td>
            <td>15 sept 8.24 am <span class="fa--default">(2013)</span></td>
            <td class="actions">
                <i class="fa fa-pencil fa--default" aria-hidden="true"></i>
                <i class="fa fa-trash fa--default " aria-hidden="true"></i>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="table sicpa-table sicpa-table-striped">
        <thead>
        <tr>
            <td> <input type="checkbox" id="c0">
                <label for="c0"><span></span></label>
            </td>
            <th>Status</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Time</th>
            <th><i class="fa fa-trash fa--default " aria-hidden="true" data-toggle="confirmation"
                   data-btn-ok-label="Cancel"
                   data-btn-ok-class="btn btn-default  sicpa-btn sicpa-btn--secondary"
                   data-btn-cancel-label="Delete"
                   data-btn-cancel-class="btn btn-default  sicpa-btn sicpa-btn--primary"></i></th>
        </tr>
        </thead>
        <tbody>
        <tr class="sicpa-table-row">
            <td> <input type="checkbox" id="c1">
                <label for="c1"><span></span></label>
            </td>
            <td><i class="fa fa-exclamation-triangle fa--warning " aria-hidden="true"></i></td>
            <td>Doe</td>
            <td>john@example.com</td>
            <td>15 sept 8.24 am <span class="fa--default">(2013)</span></td>
            <td class="actions">
                <i class="fa fa-pencil fa--default" aria-hidden="true"></i>
                <i class="fa fa-trash fa--default " aria-hidden="true"></i>
                <button type="button" class="btn btn-default  sicpa-btn sicpa-btn--secondary sicpa-btn-dropdown" data-original-title="" title="">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                    <ul class="right">
                        <li><a href="#">Link1</a></li>
                        <li><a href="#">Link2</a></li>
                        <li><a href="#">Link3</a></li>
                    </ul>
                    Button</button>
                </button>
            </td>
        </tr>
        <tr class="sicpa-table-row">
            <td>
                <input type="checkbox" id="c4">
                <label for="c4"><span></span></label>
            </td>
            <td><i class="fa fa-check fa--success" aria-hidden="true"></i></td>
            <td>Doe</td>
            <td>john@example.com</td>
            <td>15 sept 8.24 am <span class="fa--default">(2013)</span></td>
            <td class="actions">
                <i class="fa fa-pencil fa--default" aria-hidden="true"></i>
                <i class="fa fa-trash fa--default " aria-hidden="true"></i>
            </td>
        </tr>
        <tr class="sicpa-table-row">
            <td>
                <input type="checkbox" id="c2">
                <label for="c2"><span></span></label>
            </td>
            <td><i class="fa fa-check fa--default" aria-hidden="true"></i></td>
            <td>Moe</td>
            <td>mary@example.com</td>
            <td>15 sept 8.24 am <span class="fa--default">(2013)</span></td>
            <td class="actions">
                <i class="fa fa-pencil fa--default" aria-hidden="true"></i>
                <i class="fa fa-trash fa--default " aria-hidden="true"></i>
            </td>
        </tr>
        <tr class="sicpa-table-row">
            <td>
                <input type="checkbox" id="c3">
                <label for="c3"><span></span></label>
            </td>
            <td><i class="fa fa-check fa--success" aria-hidden="true"></i></td>
            <td>Dooley</td>
            <td>july@example.com</td>
            <td>15 sept 8.24 am <span class="fa--default">(2013)</span></td>
            <td class="actions">
                <i class="fa fa-pencil fa--default" aria-hidden="true"></i>
                <i class="fa fa-trash fa--default " aria-hidden="true"></i>
            </td>
        </tr>
        </tbody>
    </table>