<!-- components/readme/installation.html -->

<h3>Copy reference of the css styleguide</h3>
http://10.1.3.197/uiux/ATOMIC_DOCS/atomic-core/dist/css/styleguide.css

<br>
<h3>Copy reference of the js styleguide</h3>
http://10.1.3.197/uiux/ATOMIC_DOCS/atomic-core/dist/js/styleguide.js