<div style="max-width: 250px;">
    <div class="box box--square">
        <div>
            <h2>Simple</h2>
            <p>Lorem ipsum dolor sit amet, Lorem ipsum dolor.</p>
        </div>
    </div>
</div>

<br>

<div style="max-width: 250px;">
    <div class="box box--square">
        <div>
            <span><i class="fa fa-bar-chart" aria-hidden="true"></i></span>
            <h2 class="padding-less">Simple</h2>
            <p>Lorem ipsum sit amet.</p>
        </div>
    </div>
</div>

<br>

<div style="max-width: 250px;">
    <div class="box box--square">
        <div>
            <span>25</span>
            <h2 class="padding-less">Simple</h2>
            <p>Lorem ipsum dolor.</p>
        </div>
    </div>
</div>

<br>

<div class="box">
    <h2>Simple</h2>
    <p>Lorem ipsum dolor sit amet, Lorem ipsum dolor.</p>
</div>

<br>

<div class="box box--extra">
    <span><i class="fa fa-bar-chart" aria-hidden="true"></i></span>
    <h2>With icon</h2>
    <p>Nulla quis lorem ut libero malesuada feugiat. Donec sollicitudin molestie malesuada. Curabitur
        non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur arcu erat, accumsan id
        imperdiet et, porttitor at sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>

<br>

<div class="box box--extra">
    <span>25</span>
    <h2>With number</h2>
    <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Sed porttitor lectus nibh.
        Nulla porttitor accumsan tincidunt. Vestibulum ac diam sit amet quam vehicula elementum sed sit
        amet dui. Sed porttitor lectus nibh. Nulla quis lorem ut libero malesuada feugiat. Donec
        sollicitudin molestie malesuada. Curabitur non nulla sit amet nisl tempus convallis quis ac
        lectus. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Lorem ipsum dolor sit
        amet, consectetur adipiscing elit.</p>
</div>

<br>

<div class="box box--checkbox">
    <input type="checkbox" id="c0"><label for="c0"><span></span>As checkbox</label>
    <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Sed porttitor lectus nibh.
        Nulla porttitor accumsan tincidunt. Vestibulum ac diam sit amet quam vehicula elementum sed sit
        amet dui. Sed porttitor lectus nibh. Nulla quis lorem ut libero malesuada feugiat. Donec
        sollicitudin molestie malesuada. Curabitur non nulla sit amet nisl tempus convallis quis ac
        lectus. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Lorem ipsum dolor sit
        amet, consectetur adipiscing elit.</p>
</div>

<br>