<button class="sicpa-button-burger">
    <i class="bar"></i>
    <i class="bar"></i>
    <i class="bar"></i>
</button>
<button class="sicpa-button-burger sicpa-button-burger--closed">
    <i class="bar"></i>
    <i class="bar"></i>
    <i class="bar"></i>
</button>