
<p>
    <button type="button" class="btn sicpa-btn sicpa-btn--lg sicpa-btn--primary">Button</button>
    <button type="button" class="btn sicpa-btn sicpa-btn--lg sicpa-btn--primary"><i class="fa fa-plus" aria-hidden="true"></i> Button</button>
    <button type="button" class="btn sicpa-btn sicpa-btn--lg sicpa-btn--primary"><i class="fa fa-plus" aria-hidden="true"></i></button>
    <button type="button" class="btn sicpa-btn sicpa-btn--primary">Button</button>
    <button type="button" class="btn sicpa-btn sicpa-btn--primary"><i class="fa fa-plus" aria-hidden="true"></i> Button</button>
    <button type="button" class="btn sicpa-btn sicpa-btn--primary"><i class="fa fa-plus" aria-hidden="true"></i></button>
</p>

<p>
    <button type="button" class="btn sicpa-btn sicpa-btn--lg sicpa-btn--primary">Button</button>
    <button type="button" class="btn sicpa-btn sicpa-btn--lg sicpa-btn--primary sicpa-btn--primary--warning">Button</button>
    <button type="button" class="btn sicpa-btn sicpa-btn--lg sicpa-btn--primary sicpa-btn--primary--success">Button</button>
    <button type="button" class="btn sicpa-btn sicpa-btn--lg sicpa-btn--primary sicpa-btn--primary--danger">Button</button>
</p>

<p>
    <button type="button" class="btn btn-default sicpa-btn sicpa-btn--lg sicpa-btn--secondary">Button</button>
    <button type="button" class="btn btn-default sicpa-btn sicpa-btn--lg sicpa-btn--secondary"><i class="fa fa-plus" aria-hidden="true"></i> Button</button>
    <button type="button" class="btn btn-default sicpa-btn sicpa-btn--lg sicpa-btn--secondary"><i class="fa fa-plus" aria-hidden="true"></i></button>
    <button type="button" class="btn btn-default sicpa-btn sicpa-btn--lg sicpa-btn--secondary sicpa-btn--borderless"><i class="fa fa-plus" aria-hidden="true"></i></button>
    <button type="button" class="btn btn-default sicpa-btn sicpa-btn--secondary">Button</button>
    <button type="button" class="btn btn-default sicpa-btn sicpa-btn--secondary"><i class="fa fa-plus" aria-hidden="true"></i> Button</button>
    <button type="button" class="btn btn-default sicpa-btn sicpa-btn--secondary"><i class="fa fa-plus" aria-hidden="true"></i></button>
    <button type="button" class="btn btn-default sicpa-btn sicpa-btn--secondary sicpa-btn--borderless"></button>
</p>

<p>
    <button type="button" class="btn btn-default sicpa-btn sicpa-btn--lg sicpa-btn--secondary" disabled="disabled">Button</button>
    <button type="button" class="btn btn-default btn-lg sicpa-btn sicpa-btn--lg sicpa-btn--primary" disabled="disabled">Button</button>
    <button type="button" class="btn btn-default sicpa-btn sicpa-btn--secondary" disabled="disabled">Button</button>
    <button type="button" class="btn btn-default sicpa-btn sicpa-btn--primary" disabled="disabled">Button</button>
</p>

<p>
    <button type="button" class="btn btn-default sicpa-btn sicpa-btn--lg sicpa-btn--secondary sicpa-btn--previous">Previous</button>
    <button type="button" class="btn btn-default sicpa-btn sicpa-btn--lg sicpa-btn--secondary sicpa-btn--next">Next</button>
</p>

<p>
    <button type="button" class="btn btn-default sicpa-btn sicpa-btn--secondary sicpa-btn--previous">Previous</button>
    <button type="button" class="btn btn-default  sicpa-btn sicpa-btn--secondary sicpa-btn--next">Next</button>
</p>
