<ul>
    <li>
        <input type="checkbox" id="c999">
        <label for="c999"><span></span>Sollicitudin Adpiscit</label>
    </li>
    <li>
        <input type="checkbox" id="c888">
        <label for="c888"><span></span>Consectetur Adipiscing</label>
    </li>
</ul>