<!-- components/atoms/colors.html -->
<p>
    <div class="color color-default"></div>
    <div class="color color-primary"></div>
    <div class="color color-success"></div>
    <div class="color color-warning"></div>
    <div class="color color-danger"></div>
</p>
<p>
    <div class="color color-cloud-grey"></div>
    <div class="color color-light-grey"></div>
    <div class="color color-dark-grey"></div>
    <div class="color color-blue-grey"></div>
    <div class="color color-menthol-blue"></div>
    <div class="color color-sicpa-blue"></div>
</p>