
<form class="sicpa-form">

    <div class="form-group sicpa-form-group">
        <input type="text" class="form-control sicpa-form-control" required>
        <label>Name</label>
    </div>

    <div class="form-group sicpa-form-group">
        <div class="flex--input">
            <input type="text" class="form-control sicpa-form-control" required
                   data-input-status="warning">
            <span class="bar"></span>
            <span class="status-icon"></span>
            <label>Surname</label>
        </div>
    </div>

    <div class="form-group sicpa-form-group">
        <div class="flex--input">
            <input type="text" class="form-control sicpa-form-control" required
                   data-input-status="success">
            <span class="bar"></span>
            <span class="status-icon"></span>
            <label>Email</label>
        </div>
    </div>

    <div class="form-group sicpa-form-group">
        <div class="flex--input">
            <input type="text" class="form-control sicpa-form-control" required
                   data-input-status="warning">
            <span class="bar"></span>
            <span class="status-icon"></span>
            <label>City</label>
            <span class="status-message">optional</span>
        </div>
    </div>

    <div class="form-group sicpa-form-group">
        <div class="flex--input">
            <input type="text" class="form-control sicpa-form-control" required
                   data-input-status="warning">
            <span class="bar"></span>
            <span class="status-icon"></span>
            <label>Nickname</label>
        </div>
        <div class="flex--info">
            <button type="button"
                    class="btn btn-info sicpa-btn--circle sicpa-btn--circle--info sicpa-btn--popover"
                    tabindex="-1" data-toggle="popover"
                    data-content="Beware of the dog!"></button>
        </div>
    </div>


    <div class="form-group sicpa-form-group">
        <div class="flex--input">
            <input type="text" class="form-control sicpa-form-control" required
                   data-input-status="success">
            <span class="bar"></span>
            <span class="status-icon"><i class="fa fa-home" aria-hidden="true"></i></span>
            <label>Currency</label>
        </div>
    </div>

    <div class="form-group sicpa-form-group">
        <div class="flex--input">
            <input type="text" class="form-control sicpa-form-control has-before-icon" required
                   data-input-status="warning">
            <span class="bar"></span>
            <span class="status-icon"></span>
            <span class="before-icon"><i class="fa fa-home" aria-hidden="true"></i></span>
            <label>Lorem</label>
        </div>
    </div>


    <div class="form-group sicpa-form-group">
        <div class="flex--input">
            <input type="text" class="form-control sicpa-form-control" required
                   data-input-status="warning">
            <span class="bar"></span>
            <span class="status-icon"><i class="fa fa-home" aria-hidden="true"></i></span>
            <label>Full Monthy</label>
            <span class="status-message">optional</span>
        </div>
        <div class="flex--info">
            <button type="button"
                    class="btn btn-info sicpa-btn--circle sicpa-btn--circle--info sicpa-btn--popover"
                    tabindex="-1" data-toggle="popover"
                    data-content="Beware of the dog!"></button>
        </div>
    </div>


    <div class="form-group sicpa-form-group">
        <div class="flex--input">
            <input type="text" class="form-control sicpa-form-control" required
                   data-input-status="warning">
            <span class="bar"></span>
            <span class="status-icon"></span>
            <label>Button</label>
        </div>
        <div class="flex--info">
            <button type="button" class="btn btn-default sicpa-btn sicpa-btn--secondary">
                Button
            </button>
        </div>
    </div>


    <div class="form-group sicpa-form-group">
        <div class="flex--input">
            <input type="text" id="datepicker" class="form-control sicpa-form-control"
                   required
                   data-input-status="warning">
            <span class="bar"></span>
            <span class="status-icon"></span>
            <label>Datepicker</label>
        </div>
        <div class="flex--info">
            <button type="button" id="datepicker-trigger"
                    class="btn btn-default sicpa-btn sicpa-btn--secondary"><i
                    class="fa fa-calendar"
                    aria-hidden="true"></i>
            </button>
        </div>
    </div>


</form>