<p>
<span class="label sicpa-label sicpa-label--default">Default</span>
<span class="label sicpa-label sicpa-label--primary">Primary</span>
<span class="label sicpa-label sicpa-label--success">Success</span>
<span class="label sicpa-label sicpa-label--warning">Warning</span>
<span class="label sicpa-label sicpa-label--danger">Danger</span>
</p>

<p>   
<span class="label sicpa-label sicpa-label--default sicpa-label--default--sm">Default</span>
<span class="label sicpa-label sicpa-label--primary sicpa-label--primary--sm">Primary</span>
<span class="label sicpa-label sicpa-label--success sicpa-label--success--sm">Success</span>
<span class="label sicpa-label sicpa-label--warning sicpa-label--warning--sm">Warning</span>
<span class="label sicpa-label sicpa-label--danger sicpa-label--danger--sm">Danger</span>
</p> 