<ul>
    <li>
        <input type="radio" name="radio" id="r1">
        <label for="r1"><span></span>Sollicitudin Adpiscit</label>
    </li>
    <li>
        <input type="radio" name="radio" id="r2">
        <label for="r2"><span></span>Nullam</label>
    </li>
</ul>