<form class="sicpa-form sicpa-form--search" autocomplete="off" role="search">
    <div class="input-group sicpa-input-group">
        <input class="form-control sicpa-form-control sicpa-form-control--search" placeholder="Search" name="search-term" id="search-term" type="text">
        <div class="input-group-btn sicpa-input-group-btn">
            <button class="btn btn-default" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</form>