<form class="sicpa-form">
    <div class="form-group sicpa-form-group">
        <label>Name</label>
        <select class="form-control sicpa-select">
            <option disabled selected value></option>
            <option value="1">Thomas Edison</option>
            <option value="2">Nikola</option>
            <option value="3">Nikola Tesla</option>
            <option value="4">Arnold Schwarzenegger</option>
        </select>
    </div>
    <div class="form-group sicpa-form-group">
        <label>Name</label>
        <select class="form-control sicpa-select" multiple="multiple">
            <option disabled selected value></option>
            <option value="1">Thomas Edison</option>
            <option value="2">Nikola</option>
            <option value="3">Nikola Tesla</option>
            <option value="4">Arnold Schwarzenegger</option>
        </select>
    </div>
</form>