<!-- components/atoms/table.html -->

<table class="table sicpa-table sicpa-table-striped">
    <thead>
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Country</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td></td>
    </tr>
    <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td></td>
    </tr>
    <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
        <td></td>
    </tr>
    <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
        <td></td>
    </tr>
    </tbody>
</table>

<table class="table sicpa-table">
    <thead>
    <tr>
        <th>Selected</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Country</th>
    </tr>
    </thead>
    <tbody>
    <tr class="sicpa-table-row">
        <td> <input type="checkbox" id="c1">
            <label for="c1"><span></span>Sollicitudin Adpiscit</label>
        </td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td></td>
    </tr>
    <tr class="sicpa-table-row">
        <td>
            <input type="checkbox" id="c4">
            <label for="c4"><span></span>Sollicitudin Adpiscit</label>
        </td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td></td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" id="c2">
            <label for="c2"><span></span>Sollicitudin Adpiscit</label>
        </td>
        <td>Moe</td>
        <td>mary@example.com</td>
        <td></td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" id="c3">
            <label for="c3"><span></span>Sollicitudin Adpiscit</label>
        </td>
        <td>Dooley</td>
        <td>july@example.com</td>
        <td></td>
    </tr>
    </tbody>
</table>

<table class="table sicpa-table">
    <thead>
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Country</th>
    </tr>
    </thead>
    <tbody>
    <tr class="success">
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td></td>
    </tr>
    <tr class="warning">
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td></td>
    </tr>
    <tr class="danger">
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
        <td></td>
    </tr>
    <tr class="primary">
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
        <td></td>
    </tr>
    </tbody>
</table>
